@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  height: 35rem;
  width: 100%;
}

a {
  text-decoration: none;
}

#nav {
  background-color: var(--main-red);
  height: 10vh;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  font-size: 2rem;
  color: var(--main-white);
  padding: 2.5rem;
  margin: auto 0;
}

.nav-item:hover {
  background-color: var(--main-blue);
}

.hamburger {
  display: none;
  margin: auto 0;
  font-size: 3rem;
  color: var(--main-white);
  margin-right: 2rem;
}

#hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

#hero h1 {
  font-size: 6rem;
  color: var(--main-white);
}

#hero p {
  font-size: 3rem;
  color: var(--main-red);
  font-weight: 300;
}

#projects {
  background-color: var(--main-blue);
  text-align: center;
  padding: 8rem 0 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projects h2 {
  color: var(--main-white);
  font-size: 3rem;
  margin-bottom: 4rem;
  position: relative;
  text-align: center;
}

#projects h2::after {
  content: "";
  position: absolute;
  border: 1px solid var(--main-white);
  top: 4rem;
  left: -1rem;
  width: 43rem;
}

.grid {
  display: grid;
  gap: 30px;
  width: 80%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 2rem auto;
}

.grid-item {
}

.grid-item h3 {
  background-color: var(--main-gray);
  padding: 1.5rem 2rem;
  font-size: 2.2rem;
  color: var(--main-white);
  font-weight: 400;
}

.btn {
  background-color: var(--main-gray);
  color: var(--main-white);
  font-size: 2rem;
  padding: 1rem 1.8rem;
  outline: none;
  border: none;
  margin: 2rem 0;
  cursor: pointer;
  transition: all 0.4s;
}

.btn:hover {
  background-color: var(--main-red);
}

#footer {
  background-color: var(--main-gray);
  color: var(--main-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60rem;
  position: relative;
}

#footer h1 {
  font-size: 6rem;
  margin-top: 16rem;
  text-align: center;
}
#footer p {
  font-size: 1.8rem;
  opacity: 0.4;
  margin-top: 1.2rem;
}

.footer-list {
  display: flex;
  margin-top: 3rem;
}

.footer-list li {
  font-size: 2.5rem;
  list-style: none;
  margin: 0 2rem;
}

.footer-list i {
  margin-right: 0.7rem;
}

.copyright {
  display: inline-block;
  width: 100%;
  position: absolute;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  border-top: 4px solid var(--main-red);
  padding-top: 2rem;
  text-align: center;
  bottom: 1rem;
}

@media screen and (max-width: 850px) {
  #footer {
    height: 70rem;
  }
  .footer-list {
    /* flex-direction: column; */
  }

  .footer-list li {
    margin: 0 1rem;
    font-size: 2.2rem;
  }

  .footer-list i {
  }
}

@media screen and (max-width: 600px) {
  .footer-list {
    flex-direction: column;
    margin-bottom: 8rem;
  }

  .footer-list li {
    margin: 1rem 1rem;
    font-size: 1.6rem;
  }

  .copyright {
    /* margin-top: 4rem; */
  }
}
